{% extends 'base.html.twig' %}

{% block title %}Credits index{% endblock %}

{% block body %}
    <h1>Credits index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>creditMontant</th>
                <th>creditDuree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for credit in credits %}
            <tr>
                <td>{{ credit.id }}</td>
                <td>{{ credit.creditMontant }}</td>
                <td>{{ credit.creditDuree }}</td>
                <td>
                    <a href="{{ path('credits_show', {'id': credit.id}) }}">show</a>
                    <a href="{{ path('credits_edit', {'id': credit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('credits_new') }}">Create new</a>
{% endblock %}
