{% extends 'base.html.twig' %}

{% block title %}Objectifs{% endblock %}

{% block body %}
    <h1>Objectifs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ objectif.id }}</td>
            </tr>
            <tr>
                <th>object1</th>
                <td>{{ objectif.object1 }}</td>
            </tr>
            <tr>
                <th>object2</th>
                <td>{{ objectif.object2 }}</td>
            </tr>
            <tr>
                <th>object3</th>
                <td>{{ objectif.object3 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('objectifs_index') }}">back to list</a>

    <a href="{{ path('objectifs_edit', {'id': objectif.id}) }}">edit</a>

    {{ include('objectifs/_delete_form.html.twig') }}
{% endblock %}
