<h1> SIMULINVEST | Formulaire de contact </h1>

<p> Prénom : {{ userContact.firstname }}</p>
<p> Nom : {{ userContact.lastname }}</p>
<p> Email : {{ userContact.email }}</p>
<p> Sujet : {{ userContact.object }}</p>
<p> Message : {{ userContact.message }}</p>